/* styles.css */

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
.shop-intro {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    padding: 20px;
    /* Add more custom styles here */
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
} */

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-card {
    flex: 0 0 calc(25% - 20px); /* Adjust the width as needed */
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-card p {
    margin: 5px 0;
}

.add-to-cart {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-to-cart:hover {
    background-color: #555;
}

.cart-items {
    list-style: none;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-summary {
    margin-top: 20px;
}

.checkout {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.checkout:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

.product-card:hover {
    /* border: 2px solid #333; Change the border color on hover */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); Add a box shadow on hover */
    transform: scale(1.05); /* Scale up the card on hover */
    transition: all 0.3s; /* Add a smooth transition effect */
}

/* grid-template-columns: repeat(auto-fill,minmax(200px, 1fr)); */

.like-button-green {
    background-color: green;
    color: white;
}

html {
    scroll-behavior: smooth;
}